  <ol class="items-list">
    <li class="item flexrow items-header">
      <div class="div-item-icon"></div>
      <div class="item-name">Trait</div>
      <div class="item-type">Type</div>
      <div class="item-controls"></div>
    </li>
    
    {{#if (eq (count traits) 0)}}
      <span class="advice-drag-drop">Glissez/Déposez des Traits ici</span>
    {{/if}}

    {{#each traits as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="div-item-icon">
          <img class="sheet-item-icon" src="{{item.img}}">
        </div>
        <div class="item-name-trait">
          {{item.name}}
        </div>
        <div class="item-name-type">
          {{getTraitType system.type}}
        </div>
        <div></div>
        <div class="item-controls">
          <a class="item-control item-edit" data-tooltip="{{ localize 'WASTBURG.ui.editTrait' }}" data-tooltip-direction="UP"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" data-tooltip="{{ localize 'WASTBURG.ui.deleteTrait' }}" data-tooltip-direction="UP"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
