<div class="tab actor-inventaire" data-group="primary" data-tab="actor-inventaire">
    <div class="editor-arme">
        <label class="labelEditor">Armes</label>
        <textarea class="textareaArme" rows="5" name="system.arme">{{system.arme}}</textarea>
    </div>

    <div class="editor-protection">
        <label class="labelEditor">Protections</label>
        <textarea class="textareaProtection" rows="5" name="system.protection">{{system.protection}}</textarea>
    </div>

    <div class="editor-materiel">
        <label class="labelEditor">Matériels</label>
        <textarea class="textareaMateriel" rows="5" name="system.materiel"name="system.materiel">{{system.materiel}}</textarea>
    </div>

    <div class="editor-fortune">
        <label class="labelEditor">Fortune</label>
        <textarea class="textareaFortune"  rows="5" name="system.fortune">{{system.fortune}}</textarea>
    </div>

    <div class="editor-dettes">
        <label class="labelEditor">Dettes</label>
        <textarea class="textareaDettes"  rows="5" name="system.dettes">{{system.dettes}}</textarea>
    </div>
     <div class="editor-anciennnete-respect">
        <label class="labelEditor">Ancienneté/Respect</label>
        <textarea class="textareaAnciennete"  rows="5" name="system.anciennete">{{system.anciennete}}</textarea>
    </div>
</div>    