<div class="tab contact-list" data-group="primary" data-tab="contact-list">
<ol class="items-list">
  <li class="item flexrow items-header">
    <div class="div-item-icon"></div>
    <div class="item-name">Nom</div>
    <div class="item-type">Niveau</div>
    <div class="item-type">Quartier</div>
    <div class="item-type">Trait 1</div>
    <div class="item-type">Trait 2</div>
    <div class="item-type"></div>
  </li>

  {{#if (eq (count contacts) 0)}}
    <span class="advice-drag-drop">Glissez/Déposez des Contacts ici</span>
  {{/if}}

  {{#each contacts as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="div-item-icon">
        <img class="sheet-item-icon" src="{{item.img}}">
      </div>
      <div class="item-name-trait">
        {{item.name}}
      </div>
      <div class="item-name-trait">
        {{levelText system.value}}
      </div>
      <div class="item-name-trait">{{system.quartier}}</div>
      <div class="item-name-trait">{{system.trait1}}</div>
      <div class="item-name-trait">{{system.trait2}}</div>
      <div class="item-controls">
        <a class="item-control item-edit" data-tooltip="{{ localize 'WASTBURG.ui.editContact' }}" data-tooltip-direction="UP"><i class="fas fa-edit" ></i></a>
        <a class="item-control item-delete" data-tooltip="{{ localize 'WASTBURG.ui.deleteContact' }}" data-tooltip-direction="UP"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  {{/each}}
</ol>
</div>