<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{> systems/wastburg/templates/item/partial-item-nav.hbs}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{> systems/wastburg/templates/item/partial-item-description.hbs}}
    
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="tab" data-group="primary">
        <ul>

          <li class="flexrow">
            <label class="item-field-label-long">Niveau</label>
            <select class="item-field-label-long" name="system.value" data-dtype="Number">
              {{selectOptions config.levelsList selected=system.value valueAttr="value" labelAttr="label"}}
            </select> 
          </li>

          <li class="flexrow">
            <label class="item-field-label-long">Quartier</label>
            <input type="text" class="item-field-label-long" name="system.quartier" value="{{system.quartier}}" data-dtype="String"/>          
          </li>
          <li class="flexrow">
            <label class="item-field-label-long">Trait Premier</label>
            <input type="text" class="item-field-label-long3" name="system.trait1" value="{{system.trait1}}" data-dtype="String"/>          
          </li>
          <li class="flexrow">
            <label class="item-field-label-long">Trait Second</label>
            <input type="text" class="item-field-label-long3" name="system.trait2" value="{{system.trait2}}" data-dtype="String"/>          
          </li>

        </ul>
    </div>
  </div>

  </section>
</form>
