<form class="{{cssClass}} {{actor.type}} flexcol " autocomplete="off" draggable="true">

  {{!-- Sheet Header --}}
  <header class="sheet-header-personnage">
        <div class="firstColumnHeader"><h1 class="charname-personnage"><input class="namePlayer" name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>     
         <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
              <div class="infoFirstColumnHeader">                                      
                <table class="infoAubaineReput">
                      <tbody>
                      <tr>
                        <td><label class="aubaine">Aubaine:</label></td>
                        <td><input class="input-aubaine" type="text" name="system.aubaine.value" value="{{system.aubaine.value}}" data-dtype="Number" />   </td>
                      </tr>
                      <tr>
                        <td><label class="aubaine">Aubaine de groupe:</label></td>
                        <td> <input class="input-aubaine" type="text" value="{{aubaindeDeGroupe}}" data-dtype="Number" disabled /></td>
                      </tr>
                      <tr>
                        <td><label class="aubaine">Ancienneté:</label></td>
                        <td> <input class="input-aubaine" type="text" value="{{system.anciennetereputation.value}}" data-dtype="Number" /></td>
                      </tr>
                      <tr>
                        <td><label class="reputation">Reputation:</label></td>
                        <td>  <select class="selectreputation" name="system.reputation.value" data-dtype="String">
                        {{#select system.reputation.value}}
                          {{> systems/wastburg/templates/common/select-levels.hbs}}
                        {{/select}}
                        </select>
                        </td>
                      </tr>
                      <tbody>
                  </table>
                </div>
        </div>
       
        <div class="difficulte-rollInput">
          <div class="flexrow">
            <select  id="selectRollInput" class="select-roll" name="selectRollInput" data-dtype="Number">
              {{#select selectRollInput}}
                {{> systems/wastburg/templates/common/select-levels.hbs}}
              {{/select}}
            </select>
            <button class="roll-simple chat-button" type="button">Lancer!</button>
          </div>          
          <div class="flexrow">
            <button class="roll-complex chat-button" type="button">Test Avancé</button>
          </div>          
        </div>
        
      
  </header>
   {{!-- Sheet Body --}}
    <section class="sheet-body">
        <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item tab-header-title" data-tab="etats-list">Etats</a>
        <a class="item tab-header-title" data-tab="traits-list">Traits</a>
        <a class="item tab-header-title" data-tab="contact-list">Contacts</a>
        <a class="item tab-header-title" data-tab="actor-inventaire">Inventaire</a>
        </nav>
      <section class="section-etats">
          {{> "systems/wastburg/templates/actor/parts/actor-etats.hbs"}}
      </section>     
      <section class="section-traits">
          {{~> "systems/wastburg/templates/actor/parts/actor-traits.hbs"}}
      </section>
      <section class="section-contact">
           {{> "systems/wastburg/templates/actor/parts/actor-contact.hbs"}}
      </section>
      <section class="section-inventaire">
           {{~> "systems/wastburg/templates/actor/parts/actor-inventaire.hbs"}}
      </section> 
    </section> 
</form>

