<form class="{{cssClass}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="flexrow">
        <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="flexcol">
          <h1 class="charname margin-right"><input name="name" type="text" value="{{name}}" placeholder="Name" /></h1>

          <div class="flexrow">
            
            <ul>
              <li class="flexrow item">
                <label class="item-name-label-long">Appréciation</label>
                <select class="item-field-label-short" type="text" name="system.appreciation" value="{{system.appreciation}}" data-dtype="String">
                  {{#select system.appreciation}}
                    {{> systems/wastburg/templates/common/select-levels.hbs}}
                  {{/select}}
                </select> 
              </li>
              <li class="item flexrow">
                <select id="selectRollInput" class="top-margin-adjust1 item-field-label-short" name="selectRollInput" data-dtype="Number" data-roll-mode="blindroll">
                  {{#select selectRollInput}}
                    {{> systems/wastburg/templates/common/select-levels.hbs}}
                  {{/select}}
                </select>
                <button class="roll-simple-mj chat-card-button button-width1" type="button">Lancer!</button>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="biodata">Biographie</a>
    <a class="item" data-tab="regles">Règles</a>
    <a class="item" data-tab="trait">Traits</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    <div class="tab biodata" data-group="primary" data-tab="biodata">
      
      <div class="flexcol">
        <h3><label class="item-field-label-medium">Honnêtenement, comment il l'a eu, son poste le prévôt ?</label></h3>
        <textarea class="textarea-default" rows="5" name="system.reponsePrevot01">{{system.reponsePrevot01}}</textarea>
      </div>
      <div class="flexcol">
        <h3><label class="item-field-label-medium">C'est quel genre de chef ?</label></h3>
        <textarea class="textarea-default" rows="5" name="system.reponsePrevot02">{{system.reponsePrevot02}}</textarea>
      </div>
      <div class="flexcol">
        <h3><label class="item-field-label-medium">Et comme gardoche, il a laissé quel souvenir ?</label></h3>
        <textarea class="textarea-default" rows="5" name="system.reponsePrevot03">{{system.reponsePrevot03}}</textarea>
      </div>

    </div>

    <div class="tab regles" data-group="primary" data-tab="regles">
      
      <div class="flexcol">

        <h3><label class="item-field-header-long2">Appréciation du Prévôt</label></h3>
        <ul class="item-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">Score</label>
            </span>
            <span class="item-field-label-long">
              <label class="item-field-label-long">Appréciation</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Popularité</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">(++)</label>
            </span>
            <span class="item-field-label-long">
              <label class="item-field-label-long">Mes meilleurs éléments</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Les chouchous du prévôt (-)</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">(+)</label>
            </span>
            <span class="item-field-label-long">
              <label class="item-field-label-long">Des bons</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3"></label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">(0)</label>
            </span>
            <span class="item-field-label-long">
              <label class="item-field-label-long">Le ventre mou</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3"></label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">(-)</label>
            </span>
            <span class="item-field-label-long">
              <label class="item-field-label-long">Je les ai à l’oeil</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3"></label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">(--)</label>
            </span>
            <span class="item-field-label-long">
              <label class="item-field-label-long">Des grosses tanches</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Il exagère un peu avec eux, le prévôt (+)</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
        </ul>

        <h3><label class="item-field-header-long2">Jet pour obtenir des Bonus ?</label></h3>
        <ul class="item-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">D6</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Réponse</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">1</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Trait de caserne (--)</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">2</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Trait de caserne (-)</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">3 - 4</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Trait de caserne (-) et un trait de caserne (+)</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">5</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Trait de caserne (+)</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-label-short">
              <label class="item-field-label-short">6</label>
            </span>
            <span class="item-field-label-long3">
              <label class="item-field-label-long3">Trait de caserne (++)</label>
            </span>
            <div class="item-filler">&nbsp;</div>
          </li>
        </ul>


      </div>

    </div>

    {{!-- Trait Tab --}}
    <div class="tab trait" data-group="primary" data-tab="trait">
      
      <div class="flexcol">
        <ul class="item-list alternate-list">
          <li class="item flexrow list-item items-title-bg">
            <span class="item-field-header-long2">
              <h3><label class="item-field-header-long2">Traits</label></h3>
            </span>
            <span class="item-field-label-short">&nbsp;</span>
            <span class="item-field-label-medium">
              <label class="item-field-label-medium">Origine</label>
            </span>
            <div class="item-filler">&nbsp;</div>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-add" data-type="trait" title="Créer un trait"><i class="fas fa-plus"></i></a>
            </div>
          </li>
          {{#each traits as |trait key|}}
          <li class="item flexrow list-item list-item-shadow" data-item-id="{{trait._id}}">
            <a class="item-edit item-name-img" title="Edit Item"><img class="sheet-competence-img"
                src="{{trait.img}}" /></a>
            <span class="item-field-label-long2">{{trait.name}}</span>
            <span class="item-field-label-short">&nbsp;</span>
            <span class="item-field-label-medium"><label>{{getTraitType trait.system.type}}</label></span>
            <div class="item-filler">&nbsp;</div>
            <div class="item-controls item-controls-fixed">
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>
    
    </div>

  </section>
</form>