<div>
  <h2 class="{{cssQuality}} roll-quality">{{rollQuality}}
  <img class="chat-icon" src="{{actorImg}}" alt="{{actor.name}}"/>
  </h2>
</div>

<h3><strong>{{description}}</strong></h3> 

<div class="actions-section">
  <ol class="items-list" id="{{rollDataId}}">
    
    {{#if (ne selectedTraitBonus "none")}}
    <li>Trait Bonus : {{traitBonus.name}}
    </li>    
    {{/if}}
    {{#if (ne selectedTraitMalus "none")}}
    <li>Trait Malus : {{traitMalus.name}}
    </li>    
    {{/if}}
    {{#if (ne selectedContact "none")}}
    <li>Contact : {{contact.name}} {{levelText contact.system.value}}
    </li>    
    {{/if}}
    {{#if selectedBonusMalus}}
    <li>Bonus/Malus : {{levelText selectedBonusMalus}}
    </li>    
    {{/if}}
    {{#if applySante}}
    <li>La Santé a été appliquée : {{levelText santeValue}}
    </li>    
    {{/if}}
    {{#if applyMental}}
    <li>Le Mental a été appliquée : {{levelText mentalValue}}
    </li>    
    {{/if}}
    {{#if applySocial}}
    <li>Le Social a été appliquée : {{levelText socialValue}}
    </li>    
    {{/if}}

    <li>Modificateur final : {{levelText totalLevel}}
    </li>    
    
    <li>Dés  :
      {{#each roll.terms.0.results as |result key|}}
        {{result.result}}
      {{/each}}
    </li>
    
    {{#if (eq rerollMode "aubaine-perso")}}
      <li>Le jet a reçu une aubaine personnelle !</li>
    {{else}}
      {{#if (eq rerollMode "aubaine-groupe")}}
        <li>Jet relancé suite grâce à une aubaine de groupe !</li>
      {{else}}

        <div id={{aubaineButtonId}}>

          {{#if aubainesPerso}}
          <li>
            <button class="chat-button apply-aubaine-perso">Utiliser une aubaine perso ({{aubainesPerso}})</button>
          </li>
          {{/if}}
          {{#if aubainesDeGroupe}}
          <li>
            <button class="chat-button apply-aubaine-groupe">Utiliser une aubaine de groupe ({{aubainesDeGroupe}})</button>
          </li>
          {{/if}}
          {{#if nbOne}}
              <li>
                <label>Vous pouvez récupérer {{nbOne}} aubaines !</label>
              </li> 
              
              {{#if (ne selectedTrait "none")}}
              <li>
                <button class="chat-button receive-aubaine-perso">Recevoir une aubaine perso</button>
              </li>
              {{/if}}
              
              <li>
                <button class="chat-button receive-aubaine-groupe">Recevoir une aubaine de groupe</button>
              </li>
            {{/if}}
          {{/if}}
        </div>

    {{/if}}
  </ol>
  
  <h2 class="{{cssQuality}} roll-quality"><strong>Résultat : {{result}}</strong></h2>

</div>


