<form class="{{cssClass}}" autocomplete="off"> 
  <body>
       <header class="sheet-header-trait">
        <img class="profile-img-trait" src="{{img}}" data-edit="img" title="{{name}}" />
        <div class="header-fields">
            <h1 class="charname">
              <input class="inputItemName" name="name" type="text" value="{{name}}" placeholder="Name" />
            </h1>
        </div>
    </header>
    <div class="label-type">
      <label class="type">Type :&nbsp; </label>
      <select class="input-trait"  name="system.type" value="{{system.type}}" data-dtype="String">
        {{#select system.type}}
          <option value="jeunesse">Jeunesse</option>
          <option value="passe">Passé</option>
          <option value="present">Présent</option>
        {{/select}}
      </select>
    </div>
    <div class="editor-trait">
     <label class="description-contact">Description du trait:</label>
       {{editor description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </body>
</form>