<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-sheet-img" src="{{img}}" data-edit="img" title="{{name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{name}}" placeholder="Name"/></h1>
      </div>
  </header>
  
  {{> systems/wastburg/templates/item/partial-item-nav.hbs}}


  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{> systems/wastburg/templates/item/partial-item-description.hbs}}
    
    <div class="tab details" data-group="primary" data-tab="details">

      <div class="tab" data-group="primary">
        <ul>

          <li class="flexrow">
            <label class="item-field-label-long">Type</label>
            <select class="item-field-label-long" type="text" name="system.type" value="{{system.type}}" data-dtype="String">
              {{selectOptions config.traitTypes selected=system.type}}
            </select> 
          </li>

        </ul>
    </div>
  </div>

  </section>
</form>
